__pycache__
dimx/__pycache__
dimx/*~
tests/__pycache__
tests/*.csv
tests/*.pkl
example/.ipynb_checkpoints
tests/.ipynb_checkpoints
.pytest_cache/
.ci/
/external/
/external-validation/
build/
dist/
*.egg-info/
test-results/
